@model Contrib.PinterestButtons.Models.PinterestBoardViewPart
<fieldset>
    <legend>Pinterest Board View Fields</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.Username)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Username)
        @Html.ValidationMessageFor(model => model.Username)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Board)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Board)
        @Html.ValidationMessageFor(model => model.Board)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ImageWidth)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.ImageWidth)
        @Html.ValidationMessageFor(model => model.ImageWidth)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.BoardHeight)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.BoardHeight)
        @Html.ValidationMessageFor(model => model.BoardHeight)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.BoardWidth)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.BoardWidth)
        @Html.ValidationMessageFor(model => model.BoardWidth)
    </div>
</fieldset>
